<a href="https://colab.research.google.com/github/ybii22/Machine-Learning/blob/main/week%207/Boosting_or_Bagging_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load the uploaded datasets
heart_df = pd.read_csv('/content/HeartDisease.csv')
water_df = pd.read_csv('/content/CitarumWater.csv')
income_df = pd.read_csv('/content/income.csv')

# Display the first few rows of each dataset
print('=============== HEART DISEASE ===============')
print(heart_df.head)
print()
print('=============== CITARUM WATER ===============')
print(water_df.head)
print()
print('=============== INCOME ===============')
print(income_df.head)

=============== HEART DISEASE ===============
<bound method NDFrame.head of      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   1       145   233    1        2      150      0      2.3
1     67    1   4       160   286    0        2      108      1      1.5
2     67    1   4       120   229    0        2      129      1      2.6
3     37    1   3       130   250    0        0      187      0      3.5
4     41    0   2       130   204    0        2      172      0      1.4
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   45    1   1       110   264    0        0      132      0      1.2
299   68    1   4       144   193    1        0      141      0      3.4
300   57    1   4       130   131    0        0      115      1      1.2
301   57    0   2       130   236    0        2      174      0      0.0
302   38    1   3       138   175    0        0      173      0      0.0

     slope   ca  thal  num
0        3  0.0   6.0    0
1        2  3.0   3.0    2
2        2  2.0   7.0    1
3        3  0.0   3.0    0
4        1  0.0   3.0    0
..     ...  ...   ...  ...
298      2  0.0   7.0    1
299      2  2.0   7.0    2
300      2  1.0   7.0    3
301      2  1.0   3.0    1
302      1  NaN   3.0    0

[303 rows x 14 columns]>

=============== CITARUM WATER ===============
<bound method NDFrame.head of         No NamaSungai             TitikPantau       Waktu        pH     Temp  \
0        1    Citarum             Wangisagara  18/04/2018  7.570000  25.55°C
1        2    Citarum                   Koyod  18/04/2018  7.690000  25.55°C
2        3    Citarum   Setelah IPAL Cisirung  18/04/2018  7.390000  25.55°C
3        4    Citarum                 Nanjung  18/04/2018  7.490000  25.55°C
4        5    Citarum  Outlet Waduk Jatiluhur  18/04/2018  7.170000  25.55°C
...    ...        ...                     ...         ...       ...      ...
2495  2496    Citarum                Cisanti    11/2/2022  6.030091  25.55°C
2496  2497    Citarum             Wangisagara   11/3/2022  6.176031  25.55°C
2497  2498    Citarum                   Koyod   11/4/2022  7.776482  25.55°C
2498  2499    Citarum   Setelah IPAL Cisirung   11/5/2022  7.047090  25.55°C
2499  2500    Citarum                 Nanjung   11/6/2022  6.459304  25.55°C

            TSS        DO       BOD        COD    Nitrat  FecalColiform  \
0     11.000000  6.110000  3.300000   6.100000  1.080000   17000.000000
1     13.000000  6.200000  5.310000  12.500000  1.850000   28000.000000
2     15.000000  3.610000  7.400000  23.500000  1.250000   90000.000000
3     17.000000  3.170000  8.130000  27.500000  1.210000  300000.000000
4      6.000000  6.820000  2.890000   5.440000  1.040000    3000.000000
...         ...       ...       ...        ...       ...            ...
2495  21.152867  4.262901  1.741993  22.357555  1.604541     343.607898
2496  27.077853  3.151708  5.146220  11.099887  2.266671     612.311167
2497  22.022523  7.279574  5.865096  28.140202  2.103214     533.277383
2498  32.364635  1.485632  4.624189  29.394513  1.748222     425.598926
2499  27.895749  1.309943  4.763686  19.122593  2.310984     192.266610

        Fosfat O2    IP  Class
0     0.043000  -  5.12      3
1     0.011000  -  5.91      3
2     0.230000  -  7.76      3
3     0.057000  -  9.61      3
4     0.110000  -  2.44      2
...        ... ..   ...    ...
2495  0.056633  -  0.77      1
2496  0.071878  -  1.61      2
2497  0.044954  -  1.80      2
2498  0.096612  -  1.46      2
2499  0.070611  -  1.49      2

[2500 rows x 16 columns]>

=============== INCOME ===============
<bound method NDFrame.head of        age         workclass  fnlwgt  education  education-num  \
0       39         State-gov   77516  Bachelors             13
1       50  Self-emp-not-inc   83311  Bachelors             13
2       38           Private  215646    HS-grad              9
3       53           Private  234721       11th              7
4       28           Private  338409  Bachelors             13
...    ...               ...     ...        ...            ...
48837   39           Private  215419  Bachelors             13
48838   64               NaN  321403    HS-grad              9
48839   38           Private  374983  Bachelors             13
48840   44           Private   83891  Bachelors             13
48841   35      Self-emp-inc  182148  Bachelors             13

           marital-status         occupation    relationship  \
0           Never-married       Adm-clerical   Not-in-family
1      Married-civ-spouse    Exec-managerial         Husband
2                Divorced  Handlers-cleaners   Not-in-family
3      Married-civ-spouse  Handlers-cleaners         Husband
4      Married-civ-spouse     Prof-specialty            Wife
...                   ...                ...             ...
48837            Divorced     Prof-specialty   Not-in-family
48838             Widowed                NaN  Other-relative
48839  Married-civ-spouse     Prof-specialty         Husband
48840            Divorced       Adm-clerical       Own-child
48841  Married-civ-spouse    Exec-managerial         Husband

                     race     sex  capital-gain  capital-loss  hours-per-week  \
0                   White    Male          2174             0              40
1                   White    Male             0             0              13
2                   White    Male             0             0              40
3                   Black    Male             0             0              40
4                   Black  Female             0             0              40
...                   ...     ...           ...           ...             ...
48837               White  Female             0             0              36
48838               Black    Male             0             0              40
48839               White    Male             0             0              50
48840  Asian-Pac-Islander    Male          5455             0              40
48841               White    Male             0             0              60

      native-country  income
0      United-States   <=50K
1      United-States   <=50K
2      United-States   <=50K
3      United-States   <=50K
4               Cuba   <=50K
...              ...     ...
48837  United-States  <=50K.
48838  United-States  <=50K.
48839  United-States  <=50K.
48840  United-States  <=50K.
48841  United-States   >50K.

[48842 rows x 15 columns]>

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, roc_curve

# Fungsi bantu untuk mengubah hasil ke bentuk DataFrame
def format_results(results_dict, dataset_name):
    rows = []
    for model_name, metrics in results_dict.items():
        row = {
            "Dataset": dataset_name,
            "Model": model_name,
            "Accuracy": round(metrics["Accuracy"], 4),
            "Precision": round(metrics["Precision"], 4),
            "Recall": round(metrics["Recall"], 4),
            "F1 Score": round(metrics["F1 Score"], 4),
            "AUC": round(metrics["AUC"], 4)
        }
        rows.append(row)
    return pd.DataFrame(rows)

# Gabungkan semua hasil
df_results = pd.concat([
    format_results(results_heart, "Heart Disease"),
    format_results(results_citarum, "Citarum Water"),
    format_results(results_income, "Income")
], ignore_index=True)

# Tampilkan hasil rapi
print(df_results)

         Dataset         Model  Accuracy  Precision  Recall  F1 Score     AUC
0  Heart Disease  RandomForest    0.8556     0.8500  0.8293    0.8395  0.9338
1  Heart Disease       XGBoost    0.8222     0.8205  0.7805    0.8000  0.9049
2  Citarum Water  RandomForest    1.0000     1.0000  1.0000    1.0000  1.0000
3  Citarum Water       XGBoost    0.9987     1.0000  0.9231    0.9600  0.9999
4         Income  RandomForest    0.8521     0.7477  0.6120    0.6731  0.9056
5         Income       XGBoost    0.8689     0.7885  0.6463    0.7104  0.9261

> Secara keseluruhan, RandomForest adalah model terbaik di dua dataset (Heart Disease dan Citarum Water), sementara XGBoost lebih unggul di dataset Income.